<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>About</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>

  <!-- Favicons -->
  <link href="{{ url_for('static', filename = 'assets/img/favicon.png') }}" rel="icon">
  <link href="{{ url_for('static', filename = 'assets/img/apple-touch-icon.png') }}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Muli:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static', filename = 'assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename = 'assets/vendor/icofont/icofont.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename = 'assets/vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename = 'assets/vendor/animate.css/animate.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename = 'assets/vendor/venobox/venobox.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename = 'assets/vendor/owl.carousel/assets/owl.carousel.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename = 'assets/vendor/aos/aos.css') }}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ url_for('static', filename = 'assets/css/style.css') }}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Flattern - v2.1.0
  * Template URL: https://bootstrapmade.com/flattern-multipurpose-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Top Bar ======= -->
  <section id="topbar" class="d-none d-lg-block">
    <div class="container d-flex">
      <div class="contact-info mr-auto">
        <i class="icofont-envelope"></i><a href="mailto:greenlights.psy@gmail.com">greenlights.psy@gmail.com</a>
        <i class="icofont-phone"></i> +1 5589 55488 55
      </div>
      <div class="social-links">
        <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
        <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
        <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
        <a href="#" class="skype"><i class="icofont-skype"></i></a>
        <a href="#" class="linkedin"><i class="icofont-linkedin"></i></i></a>
      </div>
    </div>
  </section>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="container d-flex">

      <div class="logo mr-auto">
        <h1 class="text-light"><a href="{{ url_for('index') }}">TRY FIRST</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="{{ url_for('static', filename='assets/img/logo.png') }}" alt="" class="img-fluid"></a>-->
      </div>
      <div align="right">
        {% extends "nav_bar.html" %}
        {% block content %}
      </div>
    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>About</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>About</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= About Us Section ======= -->
        <!-- ======= Contact Section ======= -->
    <div>
      <img style="border:0; width: 100%; height: 550px; object-fit: fill; object-position: center;" src="https://media.licdn.com/dms/image/C511BAQG-PFkwuM_s3w/company-background_10000/0?e=2159024400&v=beta&t=a_tu38rRo3urTILJyaYNzUtEgViPKsMnjsJ9UXyPBPM" frameborder="0" allowfullscreen ></img>
    </div>

    <section id="contact" class="contact">
      <div class="container">

        <div class="row justify-content-center" data-aos="fade-up">

          <div class="col-lg-10">

            <div class="info-wrap">
              <div class="row">
                <div class="col-lg-4 info">
                  <i class="icofont-google-map"></i>
                  <h4>Institute:</h4>
                  <p>INDIAN INSTITUTE OF TECHNOLOGY (INDIAN SCHOOL OF MINES)<br>DHANBAD, INDIA</p>
                </div>
                  <br>
                <div class="col-lg-4 info mt-4 mt-lg-0">
                  <i class="icofont-envelope"></i>
                  <h4>Email:</h4>
                  <p>ankitajaiswal334455@gmail.com<br>somyaj152001@gmail.com</p>
                </div>
                 <br>
                <div class="col-lg-4 info mt-4 mt-lg-0">
                  <i class="icofont-phone"></i>
                  <h4>Call:</h4>
                  <p>+1 5589 55488 51<br>+1 5589 22475 14</p>
                </div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

    <section id="about-us" class="about-us">
      <div class="container">

        <div class="row no-gutters">
          <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start" data-aos="fade-right"></div>
          <div class="col-xl-7 pl-0 pl-lg-5 pr-lg-1 d-flex align-items-stretch">
            <div class="content d-flex flex-column justify-content-center">
              <h3 data-aos="fade-up">OUR VALUES</h3>
              <p data-aos="fade-up">
               What we Believe In !!
              </p>
              <div class="row">
                <div class="col-md-6 icon-box" data-aos="fade-up">
                  <i class="bx bx-receipt"></i>
                  <h4>INNOVATION</h4>
                  <p>The only way to discover the limits of the possible is to go beyond them into the impossible.</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                  <i class="bx bx-cube-alt"></i>
                  <h4>DELIVERING RESULTS</h4>
                  <p>We aim at providing a lively shopping experience giving 100% accuracy.</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                  <i class="bx bx-images"></i>
                  <h4>TEAM</h4>
                  <p>Talent wins games, but teamwork and intelligence win championships.</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                  <i class="bx bx-shield"></i>
                  <h4>HAPPINESS</h4>
                  <p>"Happiness is what when we succeed as a team to deliver the user our best!</p>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Our Team Section ======= -->
    <!-- <section id="team" class="team section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Our Team-<strong> GREEN LIGHTS</strong></h2>
          <p>We are the students of IIT (ISM) Dhanbad , having great enthusiasm in technology and aim at providing a lively shopping experience through our project.
              "There are no secrets to success. It is the result of preparation, hard work, and learning from failure."</p>
        </div>

        <div class="row">

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="" data-aos="fade-up" data-aos-delay="300">
              <div class="">
                <img src="" class="" alt="">
                <div class="social">
                </div>
              </div>
              <div class="member-info">
                <h4></h4>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="{{url_for('static', filename='assets/img/team/prakrit.jpg')}}" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://twitter.com/ankitajaiswal00"><i class="icofont-twitter"></i></a>
                  <a href="https://www.facebook.com/profile.php?id=100027998768312"><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/ankitajaiswal00"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Prakrit Raj</h4>
                <span>Deep Learning</span>
              </div>
            </div>
          </div> -->

          <!-- <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="{{url_for('static', filename='assets/img/team/ankita.jpg')}}" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://twitter.com/ankitajaiswal00"><i class="icofont-twitter"></i></a>
                  <a href="https://www.facebook.com/profile.php?id=100027998768312"><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/ankitajaiswal00"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Ankita Jaiswal</h4>
                <span>ML Enthusiast</span>
              </div>
            </div>
          </div> -->

<!--           <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
              <div class="member-img">
                <img src="{{url_for('static', filename='assets/img/team/somya.jpeg')}}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href="https://www.facebook.com/profile.php?id=100039404657456"><i class="icofont-facebook"></i></a>
                  <a href="https://www.instagram.com/in/somyaj15"><i class="icofont-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/somya-jain-52a2051a0"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Somya Jain</h4>
                <span>Web Developer</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="" data-aos="fade-up" data-aos-delay="200">
              <div class="">
                <img src="" class="" alt="">
                <div class="social">
                </div>
              </div>
              <div class="member-info">
                <h4></h4>
                <span></span>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>< !-- End Our Team Section -->

    <!-- ======================================================================= Our Skills Section ============================================================ -->

    <section id="skills" class="skills">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Our <strong>Skills</strong></h2>
          <p>Technical skill is mastery of complexity, while creativity is mastery of simplicity.</p>
        </div>
        <br>

    
        
          <div class="container">
    
            <div class="row">
   
              <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
                <div class="colorr">
                <div class="box" data-aos="fade-right">
                  
                  <h3 style="padding: 10%; padding-right:10%;" class="tab-content mt-3"><i class="fa fa-eye" aria-hidden="true" style='font-size:36px'></i></h3>
                  <h4><sup></sup><span>Computer Vision </span></h4>
                  <p>We use computer vision to analyze the photo from which we acquire and process the human body. Our advanced computer vision algorithms allow us to detect the human body on photos that were taken with any smartphone on any background.</p>
                  <div class="btn-wrap">
                  </div>
                  </div>
                </div>
              </div>
    
    
              <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
                <div class="colorr">
                <div class="box" data-aos="fade-up">
                  
                  <h3 style="align-items: center; padding:10%;" class="tab-content mt-3"><i class='fas fa-brain' style='font-size:36px'></i></h3>
                  <h4><sup></sup><span>Machine Learning </span></h4>
                  <p>We use neural networks to detect and determine keypoints and produce a set of probability maps for each keypoint. We train our neural networks with fully measured human body images with pre-arranged keypoints.</p>
                  <div class="btn-wrap">
                    
                  </div>
                </div>
                </div>
              </div>
    
              <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
                <div class="colorr">
                <div class="box" data-aos="fade-left">
                  <h3 class="tab-content mt-3" style="padding : 10%; padding-left: 10%;"><i class="fa fa-cube" aria-hidden="true" style='font-size:36px'></i></h3>
                  <h4><sup></sup><span></span>Pattern-MATCHING</h4>
                  <p>We use statistical modeling and 3D geometry algorithms to build a 3D model of the human body, based on the detected key points. It allows us to accurately obtain human body measurements.</p>
                  <div class="btn-wrap">
                   
                  </div>
                  </div>
                </div>
              </div>
    
            </div>
    
          </div>
        </section><!-- End Pricing Section -->

      </div>
    </section><!-- End Our Skills Section -->

    <!-- =========================================================================================================== Our Mentors Section ======= -->
   
<!--     <section id="team" class="team section-bg">
      <div class="container">
        <div class="h4 text-center py-4" style="align-items: center; justify-content: center;">

        <div class="section-title" data-aos="fade-up">
          <h2><strong> OUR MENTORS</strong></h2>
          <p>WE would like to express our sincere gratitude towards for NetApp for providing us the oppurtunity to work under the guidance of wonderful mentors through the NetApp INnovtion Hackathon Challenge. Their great expertise and deep in-sights into our project & encouragement helped us cope-up debugging with numerous erros while keeping the high enthusiasm. Without their their valuable assets, the hiked-up progress wouldn't have been possible!</p>
        </div>
              
        
        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="" data-aos="fade-up" data-aos-delay="300">
              <div class="">
                <img src="" class="" alt="">
                <div class="social">
                </div>
              </div>
              <div class="member-info">
                <h4></h4>
              </div>
            </div>
          </div>
         
          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="https://media-exp1.licdn.com/dms/image/C5103AQH6pN6z-1N3lw/profile-displayphoto-shrink_100_100/0?e=1601510400&v=beta&t=FuMc2kWzTSa0ydRdo2_piotOuYC7GzignhWrzH7wBK8" class="img-fluid" height="300px" width="250px" alt="">
                <div class="social">
                  <a href=""><i class="icofont-email"></i></a> -->
<!--                   <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a> -->
                  <!-- <a href="https://www.linkedin.com/in/neeladri-reddy-2062204/"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Reddy Sir</h4>
              </div>
            </div>
          </div>


          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
              <div class="member-img">
                <img src="https://media-exp1.licdn.com/dms/image/C4D03AQGI4UcMJ1sIZg/profile-displayphoto-shrink_100_100/0?e=1601510400&v=beta&t=O8yVCvfr_W-sWmlOrcXbXY7kayDy_Nrlqy3bGcJw85I" alt="" height="300px" width="250px">
                <div class="social">
                  <a href=""><i class="icofont-email"></i></a> -->
<!--                   <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a> -->
<!--                   <a href="https://www.linkedin.com/in/nsrinivas89/"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Srinivas Sir</h4>
              </div>
            </div>
          </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="" data-aos="fade-up" data-aos-delay="300">
              <div class="">
                <img src="" class="" alt="">
                <div class="social">
                </div>
              </div>
              <div class="member-info">
                <h4></h4>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
    </section> --><!-- End Our Team Section -->

    <section id="contact" class="contact">
      <div class="container">
        <div class="row mt-5 justify-content-center" data-aos="fade-up">
          <h2><strong>SHARE your FeedBack!</strong></h2>
          <br>
          <div class="col-lg-10">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="form-row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="col-md-6 form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>INSTITUTE</h3>
            <p>
              INDIAN INSTITUTE OF TECHNOLOGY, (INDIAN SCHOOL OF MINES) DHANBAD <br>
              <!-- DHANBAD<br> -->
              INDIA <br><br>
              <!-- <strong>Phone:</strong> +1 5589 55488 55<br> -->
              <strong>Email:</strong> greenlights.psy@gmail.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="{{ url_for('index') }}">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{{ url_for('about') }}">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{{ url_for('services_tryon') }}">TRY ON guide</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{{ url_for('services_sizep') }}">Size Predictor</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{{ url_for('blog') }}">Blog</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="{{ url_for('services_tryon') }}">TRY APPARELS ON</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">WEB DEVELOPMENT</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{{ url_for('services_sizep') }}">SIZE PREDICTION</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">MARKETING</a></li>
              <!-- <li><i class="bx bx-chevron-right"></i> <a href="#">MODEL </a></li> -->
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Join Our Newsletter</h4>
            <p>Teck geek?<br>Stay Updated with the World.</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>


    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Copyright <strong><span>Flattern</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/flattern-multipurpose-bootstrap-template/ -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="{{ url_for('static', filename = 'assets/vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename = 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename = 'assets/vendor/jquery.easing/jquery.easing.min.js') }}"></script>
  <script src="{{ url_for('static', filename = 'assets/vendor/php-email-form/validate.js') }}"></script>
  <script src="{{ url_for('static', filename = 'assets/vendor/jquery-sticky/jquery.sticky.js') }}"></script>
  <script src="{{ url_for('static', filename = 'assets/vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static', filename = 'assets/vendor/venobox/venobox.min.js') }}"></script>
  <script src="{{ url_for('static', filename = 'assets/vendor/waypoints/jquery.waypoints.min.js') }}"></script>
  <script src="{{ url_for('static', filename = 'assets/vendor/owl.carousel/owl.carousel.min.js') }}"></script>
  <script src="{{ url_for('static', filename = 'assets/vendor/aos/aos.js') }}"></script>

  <!-- Template Main JS File -->
  <script src="{{ url_for('static', filename = 'assets/js/main.js') }}"></script>

</body>

</html>
<style>
  .colorr:hover{
    transform: scale(1.1);                
    /*background-color:#fd5c28;*/
    padding-right: 30px ;
    padding-left: 30px;
    padding-bottom: 20px;
    padding-top: 20px; 
    color: white;
    background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%); 
    /*padding: 10px*/
  }
}  

</style>

{% endblock %}